# Задание 1

Загружаем предобработанные данные для классификации и регрессии

In [2]:
import pandas as pd

In [3]:
reg_data = pd.read_csv("../data/regression_preprocessed_data")
class_data = pd.read_csv("../data/classification_preprocessed_data")

In [67]:
reg_data.head()

,price,area,latitude,longitude,bedrooms,bathrooms,balcony,parking,furnished_status,lift,type_of_building_Flat,type_of_building_Individual House,status_False,status_True,neworold_False,neworold_True
0,22400000.0,629.0,19.032800,72.896357,2,2,0,0,0.0,0,1,0,1,0,0,1
1,35000000.0,974.0,19.032800,72.896357,3,2,0,0,0.0,0,1,0,1,0,0,1
2,31700000.0,968.0,19.085600,72.909277,3,3,0,0,0.0,0,1,0,1,0,0,1
3,18700000.0,629.0,19.155756,72.846862,2,2,2,2,0.0,2,1,0,0,1,0,1
4,13500000.0,1090.0,19.177555,72.849887,2,2,0,0,0.0,0,1,0,0,1,0,1

In [69]:
reg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   price                              6237 non-null   float64
 1   area                               6237 non-null   float64
 2   latitude                           6237 non-null   float64
 3   longitude                          6237 non-null   float64
 4   bedrooms                           6237 non-null   int64
 5   bathrooms                          6237 non-null   int64
 6   balcony                            6237 non-null   int64
 7   parking                            6237 non-null   int64
 8   furnished_status                   6237 non-null   float64
 9   lift                               6237 non-null   int64
 10  type_of_building_Flat              6237 non-null   int64
 11  type_of_building_Individual House  6237 non-null   int64
 12  status_False                       6237 non-null   int64
 13  status_True                        6237 non-null   int64
 14  neworold_False                     6237 non-null   int64
 15  neworold_True                      6237 non-null   int64
dtypes: float64(5), int64(11)
memory usage: 779.8 KB

In [4]:
class_data.head()

,Temperature,Humidity,TVOC,eCO2,Raw H2,Raw Ethanol,Pressure,PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,Fire Alarm
0,20.000,57.36,0.0,400.0,12306.0,18520,939.735,0.0,0.0,0.0,0.0,0.0,0
1,20.015,56.67,0.0,400.0,12345.0,18651,939.744,0.0,0.0,0.0,0.0,0.0,0
2,20.029,55.96,0.0,400.0,12374.0,18764,939.738,0.0,0.0,0.0,0.0,0.0,0
3,20.044,55.28,0.0,400.0,12390.0,18849,939.736,0.0,0.0,0.0,0.0,0.0,0
4,20.059,54.69,0.0,400.0,12403.0,18921,939.744,0.0,0.0,0.0,0.0,0.0,0

In [46]:
reg_data['price']

0       22400000.0
1       35000000.0
2       31700000.0
3       18700000.0
4       13500000.0
           ...
6232    19500000.0
6233    22000000.0
6234    20000000.0
6235    11000000.0
6236    15000000.0
Name: price, Length: 6237, dtype: float64

In [5]:
from imblearn.over_sampling import RandomOverSampler

In [6]:
y_reg = reg_data['price']
X_reg = reg_data.drop(columns='price')
y_classification = class_data['Fire Alarm']
X_classification = class_data.drop(columns= 'Fire Alarm')

X_classification, y_classification = RandomOverSampler(random_state=42).fit_resample(X_classification, y_classification)

In [8]:
from sklearn.model_selection import train_test_split
import numpy as np

In [9]:
X_reg = np.asarray(X_reg).astype(np.float64)
X_classification = np.asarray(X_classification).astype(np.float64)

In [13]:
X_reg_train, X_reg_test, y_reg_train, y_reg_test = train_test_split(X_reg, y_reg, 
                                                                    random_state=42)
X_class_train, X_class_test, y_class_train, y_class_test = train_test_split(X_classification,
                                                                            y_classification,
                                                                            random_state=42)

In [10]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import accuracy_score, confusion_matrix

In [11]:
import tensorflow as tf

2024-01-09 22:09:12.356754: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

*Regression*

In [113]:
reg_model = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(256, activation='relu', input_shape=(13,)),
        
        tf.keras.layers.Dense(128, activation='relu'), 
        # tf.keras.layers.Dropout(0.05),

        tf.keras.layers.Dense(64, activation='relu'), 
        tf.keras.layers.Dropout(0.05),

        tf.keras.layers.Dense(32, activation='linear'), # equals to absence of activation f
        # tf.keras.layers.Dropout(0.1), 
        
        tf.keras.layers.Dense(16, activation='relu'),
        tf.keras.layers.Dropout(0.1),

        tf.keras.layers.Dense(1)
    ]
)

In [114]:
reg_model.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_52 (Dense)            (None, 256)               3584

 dense_53 (Dense)            (None, 128)               32896

 dense_54 (Dense)            (None, 64)                8256

 dropout_20 (Dropout)        (None, 64)                0

 dense_55 (Dense)            (None, 32)                2080

 dense_56 (Dense)            (None, 16)                528

 dropout_21 (Dropout)        (None, 16)                0

 dense_57 (Dense)            (None, 1)                 17

=================================================================
Total params: 47361 (185.00 KB)
Trainable params: 47361 (185.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [115]:
reg_model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.005), loss="mse")

In [116]:
reg_model.fit(X_reg_train, y_reg_train, epochs=60)

Epoch 1/60
147/147 [==============================] - 3s 4ms/step - loss: 660737768816640.0000
Epoch 2/60
147/147 [==============================] - 1s 4ms/step - loss: 417377439186944.0000
Epoch 3/60
147/147 [==============================] - 1s 3ms/step - loss: 423485016899584.0000
Epoch 4/60
147/147 [==============================] - 1s 4ms/step - loss: 408589734772736.0000
Epoch 5/60
147/147 [==============================] - 1s 4ms/step - loss: 410486768140288.0000
Epoch 6/60
147/147 [==============================] - 1s 4ms/step - loss: 404437508030464.0000
Epoch 7/60
147/147 [==============================] - 1s 3ms/step - loss: 401611016896512.0000
Epoch 8/60
147/147 [==============================] - 1s 4ms/step - loss: 397952778502144.0000
Epoch 9/60
147/147 [==============================] - 1s 4ms/step - loss: 416491736399872.0000
Epoch 10/60
147/147 [==============================] - 1s 3ms/step - loss: 411122221973504.0000
Epoch 11/60
147/147 [==============================] - 1s 3ms/step - loss: 412124660629504.0000
Epoch 12/60
147/147 [==============================] - 1s 4ms/step - loss: 400073754148864.0000
Epoch 13/60
147/147 [==============================] - 1s 4ms/step - loss: 397762189328384.0000
Epoch 14/60
147/147 [==============================] - 1s 3ms/step - loss: 427990773137408.0000
Epoch 15/60
147/147 [==============================] - 1s 4ms/step - loss: 414174567989248.0000
Epoch 16/60
147/147 [==============================] - 1s 4ms/step - loss: 398698827743232.0000
Epoch 17/60
147/147 [==============================] - 1s 3ms/step - loss: 411687278608384.0000
Epoch 18/60
147/147 [==============================] - 1s 4ms/step - loss: 403110363136000.0000
Epoch 19/60
147/147 [==============================] - 1s 4ms/step - loss: 412230424199168.0000
Epoch 20/60
147/147 [==============================] - 1s 4ms/step - loss: 399388773974016.0000
Epoch 21/60
147/147 [==============================] - 1s 4ms/step - loss: 402596644782080.0000
Epoch 22/60
147/147 [==============================] - 1s 3ms/step - loss: 404876098011136.0000
Epoch 23/60
147/147 [==============================] - 1s 4ms/step - loss: 396511179440128.0000
Epoch 24/60
147/147 [==============================] - 1s 4ms/step - loss: 408841829220352.0000
Epoch 25/60
147/147 [==============================] - 0s 3ms/step - loss: 404414556798976.0000
Epoch 26/60
147/147 [==============================] - 1s 4ms/step - loss: 396228684677120.0000
Epoch 27/60
147/147 [==============================] - 1s 3ms/step - loss: 401595749629952.0000
Epoch 28/60
147/147 [==============================] - 1s 4ms/step - loss: 405176175296512.0000
Epoch 29/60
147/147 [==============================] - 1s 4ms/step - loss: 403137441562624.0000
Epoch 30/60
147/147 [==============================] - 1s 4ms/step - loss: 407177260957696.0000
Epoch 31/60
147/147 [==============================] - 1s 4ms/step - loss: 399930845822976.0000
Epoch 32/60
147/147 [==============================] - 1s 4ms/step - loss: 389089207517184.0000
Epoch 33/60
147/147 [==============================] - 1s 4ms/step - loss: 413237526921216.0000
Epoch 34/60
147/147 [==============================] - 1s 4ms/step - loss: 400884496334848.0000
Epoch 35/60
147/147 [==============================] - 1s 5ms/step - loss: 405181510451200.0000
Epoch 36/60
147/147 [==============================] - 1s 3ms/step - loss: 403580997599232.0000
Epoch 37/60
147/147 [==============================] - 1s 4ms/step - loss: 390179525230592.0000
Epoch 38/60
147/147 [==============================] - 1s 3ms/step - loss: 398659032186880.0000
Epoch 39/60
147/147 [==============================] - 1s 3ms/step - loss: 409679112962048.0000
Epoch 40/60
147/147 [==============================] - 1s 4ms/step - loss: 402939369750528.0000
Epoch 41/60
147/147 [==============================] - 1s 4ms/step - loss: 399328476659712.0000
Epoch 42/60
147/147 [==============================] - 1s 3ms/step - loss: 399103326420992.0000
Epoch 43/60
147/147 [==============================] - 1s 4ms/step - loss: 390048092520448.0000
Epoch 44/60
147/147 [==============================] - 1s 3ms/step - loss: 407014891061248.0000
Epoch 45/60
147/147 [==============================] - 1s 3ms/step - loss: 387805750493184.0000
Epoch 46/60
147/147 [==============================] - 1s 4ms/step - loss: 399790152089600.0000
Epoch 47/60
147/147 [==============================] - 1s 3ms/step - loss: 405599363792896.0000
Epoch 48/60
147/147 [==============================] - 1s 4ms/step - loss: 398192793354240.0000
Epoch 49/60
147/147 [==============================] - 1s 4ms/step - loss: 395383112990720.0000
Epoch 50/60
147/147 [==============================] - 1s 4ms/step - loss: 394287862775808.0000
Epoch 51/60
147/147 [==============================] - 1s 4ms/step - loss: 405673015771136.0000
Epoch 52/60
147/147 [==============================] - 1s 4ms/step - loss: 400167907885056.0000
Epoch 53/60
147/147 [==============================] - 1s 5ms/step - loss: 397106569281536.0000
Epoch 54/60
147/147 [==============================] - 1s 4ms/step - loss: 389581115490304.0000
Epoch 55/60
147/147 [==============================] - 1s 4ms/step - loss: 411025685872640.0000
Epoch 56/60
147/147 [==============================] - 1s 4ms/step - loss: 391656423555072.0000
Epoch 57/60
147/147 [==============================] - 1s 4ms/step - loss: 401245441359872.0000
Epoch 58/60
147/147 [==============================] - 1s 4ms/step - loss: 383575073488896.0000
Epoch 59/60
147/147 [==============================] - 1s 4ms/step - loss: 390423264624640.0000
Epoch 60/60
147/147 [==============================] - 1s 4ms/step - loss: 389371702280192.0000

In [83]:
# результат с меньшим кол-вом скрытых слоёв и меньшей размерностью входного слоя
print(mean_squared_error(reg_model.predict(X_reg_test, verbose=False), y_reg_test))
print(r2_score(reg_model.predict(X_reg_test, verbose=False), y_reg_test))

406548625455886.25
-0.2390648940957818

In [117]:
print(mean_squared_error(reg_model.predict(X_reg_test, verbose=False), y_reg_test))
print(r2_score(reg_model.predict(X_reg_test, verbose=False), y_reg_test))

396601628744070.06
-0.18982727546144473

C большим кол-вом скрытых слоёв и большим кол-вом проходов по массиву (эпох) результат стал лучше, но не значительно

*Classification*

In [15]:
class_model = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(64, activation="relu", input_shape=(12,)),
        
        tf.keras.layers.Dense(128, activation="relu"),
        tf.keras.layers.Dropout(0.005),

        tf.keras.layers.Dense(64, activation="relu"),
        tf.keras.layers.Dropout(0.005),
        # then try Dropout
        
        # tf.keras.layers.Dense(32, activation="relu"),
        # # then try Dropout

        # tf.keras.layers.Dense(16, activation="relu"),

        # tf.keras.layers.Dense(8, activation="relu"),

        tf.keras.layers.Dense(1, activation="sigmoid"),
    ]
)

class_model.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')
class_model.fit(X_class_train, y_class_train, verbose=False, epochs=20)

In [16]:
y_pred = np.around(class_model.predict(X_class_test, verbose=False))

print(accuracy_score(y_class_test, y_pred))
print(confusion_matrix(y_class_test, y_pred))

0.9764511372268645
[[10888   218]
 [  309 10964]]

In [17]:
class_model.save("../models/MODEL_SIX_classification_NN")

INFO:tensorflow:Assets written to: ../models/MODEL_SIX_classification_NN/assets

INFO:tensorflow:Assets written to: ../models/MODEL_SIX_classification_NN/assets

In [18]:
test_model = tf.keras.models.load_model("../models/MODEL_SIX_classification_NN")

In [19]:
y_pred = np.around(test_model.predict(X_class_test, verbose=False))

print(accuracy_score(y_class_test, y_pred))
print(confusion_matrix(y_class_test, y_pred))

0.9764511372268645
[[10888   218]
 [  309 10964]]